[Unit]
Description=Synchronize PTP hardware clock (PHC) to external time stamp signal
Documentation=man:ts2phc

[Service]
Type=simple
EnvironmentFile=/etc/default/ptp4l-gm
ExecStart=/usr/sbin/ts2phc -l $LOG_LEVEL --tx_timestamp_timeout $TX_TIMESTAMP_TIMEOUT --ts2phc.nmea_serialport $SERIAL_PORT -s nmea -c $EXTTS_IFACE

[Install]
WantedBy=multi-user.target

